.App {
  text-align: center;
}

.head-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* .navigation {
  display: flex;
  gap: 20px;
} */

.con-head {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  padding: 100px;
}
.card-details {
  margin-bottom: 30px;
}
.cart-btn {
  margin-left: 690px;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  padding: 100px 70px 30px 70px;
}

footer {
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sale {
  position: absolute;
  margin-left: 180px;
  margin-top: 8px;
}
.bg-body-tertiary {
  border: 2px solid black;
}
